# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Assignment 1/.idea/workspace.xml
Assignment 1/.idea/project-template.xml
Assignment 1/.idea/modules.xml
Assignment 1/.idea/misc.xml
Assignment 1/.idea/description.html
Assignment 1/Assignment 1.iml
Assignment 2/gcc/StackOverrun
